<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">So, what makes the OUR way of learning 10X
better than anything else out there?</h2>
            <hr class="primary">
            <h3>No lonely learning. Learning teams instead:</h3>
            <p>
                Instead of training students to learn alone and just compete with their classmates, we teach students how to collaborate as a 6 member learning team. They learn by discussing, debating, building projects and competing together as a team.
            </p>

            <hr class="primary">
            <h3>No fixed timetable. Mastery based learning instead:</h3>
            <p>
                Instead of being rushed to the next topic just because time’s up and it’s 11 am on a Thursday or something like that, students will be given ample time to understand each concept at their own pace, and move to more advanced concepts only after they demonstrate mastery.
            </p>

            <hr class="primary">
            <h3>No boring lectures. Videos and creative tasks instead:</h3>
            <p>Our videos and creative tasks are based in learning science and go beyond the usual multiple choice questions we see today. For eg. Students will make a video explaining a concept to fellow students, build a fully working project, or draw a concept map connecting different topics.</p>

            <hr class="primary">
            <h3>No traditional teachers. Learning coaches instead:</h3>
            <p>
               Instead of using humans to deliver one-size fits all lectures, we will use humans where their time is most valuable – to provide children with feedback, encouragement, and accountability.
            </p>

            <hr class="primary">
            <h3>No needless pressures. Effective learning techniques and habits instead:</h3>
            <p>
               All through school, students feel pressured to study more but no one teaches them how to learn. This struggle causes students to get frustrated and even dislike learning. We will teach and nudge students to use evidence-based learning techniques (mindfulness, pomodoro technique, recollection practice, spaced repetition etc.) and reinforce their growth mindset and grit.
            </p>

        </div>
    </div>
</div>
